button {
    border-radius: 10px;
    border: none;
    text-align: center;
    text-decoration: none;
    align-self: center;
    place-self: center;
    height: 70px;
    line-height: 70px;
}

button:hover {
    cursor: pointer;
}

.button--number {
    box-shadow: 0px 3px var(--key-light-shadow);
    background-color: var(--key-light-background);
    color: var(--text-dark);
}

.button--function {
    box-shadow: 0px 3px var(--key-dark-shadow);
    background-color: var(--key-dark-background);
}

.button--equals {
    background-color: var(--key-red-background);
    box-shadow: 0px 3px var(--key-red-shadow);
}

.button--narrow {
    width: 130px;
}

.button--wide1 {
    width: 250px;
    grid-column-start: 1;
    grid-column-end: 3;
}

.button--wide2 {
    width: 250px;
    grid-column-start: 3;
    grid-column-end: 5;
}

body.theme-three .button--number {
    color: var(--text-yellow);
}

body.theme-three .button--equals {
    color: var(--text-dark);
}

@media (max-width:420px) {
    button {
        height: 60px;
        line-height: 60px;
    }

    .button--narrow {
        width: 60px;
    }

    .button--wide1 {
        width: 130px;
    }

    .button--wide2 {
        width: 130px;
    }
}