div.result-container {
    background-color: var(--screen-background);
    box-sizing: border-box;
    width: 620px;
    text-align: right;
    height: 80px;
    border-radius: 10px;
    margin: auto;
}

body.theme-two div.result-container h2 {
    color: var(--text-dark);
}

body.theme-three div.result-container h2 {
    color: var(--text-yellow);
}


div.result-container h2 {
    margin-right: 60px;
    line-height: 90px;
}

@media (max-width: 420px) {
    div.result-container {
        width: 300px;
    }

    div.result-container h2 {
        font-size: 30px;
        margin-right: 25px;
    }
}