div.buttons-container {
    background-color: var(--keypad-background);
    width: 620px;
    height: 60vh;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 20px;
}

div.main-wrapper {
    width: 620px;
    height: 60vh;
    margin: auto;
    margin-top: 10vh;
}

h1 {
    margin: 0;
}

.top-wrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;
}

body.theme-two h1 {
    color: var(--text-dark);
}

body.theme-three h1 {
    color: var(--text-yellow);
}

@media(max-width: 420px) {
    div.main-wrapper {
        width: 300px;
        margin-top: 8vh;
    }

    div.buttons-container {
        width: 300px;
    }

    h1 {
        margin-bottom: 7px;
        margin-left: 10px;
    }
}